* {
    box-sizing: border-box;
}

.mainFrame {
    width: 1200px;
    height: 700px;
    border: 5px solid black;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

.playerTableau {
    /* width: 375px; */
    width: 475px;
    height: 250px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 21px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.textBox {
    margin: 10px;
    width: 100px;

}

.crownBox {
    border: 1px solid gold;
    background-color: gold;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    align-self:flex-end;
}

.cardBox {
    width: 270px;
    height: 100px;
    border: 1px solid brown;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.discardBox {
    width: 180px;
    height: 100px;
    border: 1px solid lime;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.discard {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
}

.cardDisplayBox {
    border: 3px solid rgb(54, 54, 54);
    width: 70px;
    height: 100px;
    margin: 5px;
}

.zeroBox {
    width: 70px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nonZeroBox {
    width: 230px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    /* text-align: center; */
    align-items: center;
    display:flex;
    justify-content: space-around;
    margin: 1px 5px;
}

.statusBar {
    width: 1100px;
    height: 80px;
    border: 1px solid black;
    padding: 8px;
}

.button {
    width: 100px;
    height: 28px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}



.big {
    width: 45px;
    height: 67.5px;
    font-size: 50px;
}

.small {
    width: 30px;
    height: 42px;
    font-size: 25px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.cyan {
    color: cyan;
}